<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kbk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".KbkApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KBK">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EnterteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EnterstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Bnv"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
<!--        <intent-filter>
            <category />
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>-->
    </activity>
        <activity
            android:name=".ui.menu.Documents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.gradebook.GradeBActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.teachers.AllTeachers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.Feedback"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.dashboard.DashboardFragment"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.menu.gallery.GalleryActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>